<footer id="site-footer" role="contentinfo">
    <div class="footer-top">
        <div class="wrap">
            <div class="row">
                <div class="col-3">
                    <h5>Product</h5>
                    <ul class="footer__links">
                        <li>
                            <a href="javascript:vind(0);">Overview</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Features</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Tutorials</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Pricing</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Releases</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>Company</h5>
                    <ul class="footer__links">
                        <li>
                            <a href="javascript:vind(0);">About</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Press</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Careers</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Contact</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Partners</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>Legal</h5>
                    <ul class="footer__links">
                        <li>
                            <a href="javascript:vind(0);">Cookies Policy</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Terms of Service</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Law Enforcement</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Status</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5>Follow us</h5>
                    <ul class="footer__links">
                        <li>
                            <a href="javascript:vind(0);">Facebook</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Twitter</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);">Dribbble</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);" data-modal="#modalshare">Instagram</a>
                        </li>
                        <li>
                            <a href="javascript:vind(0);" data-modal="#modalid">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="wrap">
            <div class="bottom__logo text-center">
                <img src="images/white_logo.png">
            </div>
        </div>
        <div class="copyright text-center">
            &copy; 2020 B2B Potential. All rights reserved.
        </div>
    </div>
</footer>