@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("jumbotron")
@await Component.InvokeAsync("productmenu")


<section class="section section--brands">
    <div class="wrap">
        <div class="section__heading mb-80">
            <h2>Brands</h2>
            <p>We feature hundreds of some of your favourite brands</p>
        </div>
        <div class="brands--inner">
            <div class="row row--items-center">
                <div class="col-3">
                    <img src="images/airbnb_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/amazon_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/fedex_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/microsoft_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/airbnb_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/amazon_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/fedex_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/microsoft_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/airbnb_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/amazon_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/fedex_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/microsoft_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/airbnb_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/amazon_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/fedex_logo.png" alt="">
                </div>
                <div class="col-3">
                    <img src="images/microsoft_logo.png" alt="">
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn--blue btn--lg" href="javascript:void(0);">See All Brands</a>
            </div>
        </div>
    </div>
</section>

<section class="section section--products pt-0">
    <div class="wrap">
        <div class="section__heading mb-80">
            <h2>Products</h2>
            <p>We feature hundreds of some of your favourite brands</p>
        </div>
        <div class="row mb-40">
            <div class="col-6">
                <div class="product__card">
                    <div class="product__img"><img src="images/product/product_01.png" alt=""></div>
                    <div class="product__text">
                        <h4>Product One</h4>
                        <a class="btn btn--blue">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="product__card">
                    <div class="product__img"><img src="images/product/product_01.png" alt=""></div>
                    <div class="product__text">
                        <h4>Product One</h4>
                        <a class="btn btn--blue">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="product__card">
                    <div class="product__img"><img src="images/product/product_01.png" alt=""></div>
                    <div class="product__text">
                        <h4>Product One</h4>
                        <a class="btn btn--blue">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="product__card">
                    <div class="product__img"><img src="images/product/product_01.png" alt=""></div>
                    <div class="product__text">
                        <h4>Product One</h4>
                        <a class="btn btn--blue">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="product__card">
                    <div class="product__img"><img src="images/product/product_01.png" alt=""></div>
                    <div class="product__text">
                        <h4>Product One</h4>
                        <a class="btn btn--blue">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="product__card">
                    <div class="product__img"><img src="images/product/product_01.png" alt=""></div>
                    <div class="product__text">
                        <h4>Product One</h4>
                        <a class="btn btn--blue">Know more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-btn text-center">
            <a class="btn btn--blue btn--lg" href="javascript:void(0);">See All Products</a>
        </div>

    </div>
</section>