@model B2b.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("jumbotron")
@await Component.InvokeAsync("productmenu")


<section class="section section--brands">
    <div class="wrap">
        <div class="section__heading mb-80">
            <h2>Brands</h2>
            <p>We feature hundreds of some of your favourite brands</p>
        </div>
        <div class="brands--inner">
            <div class="row row--items-center">
                @foreach (var item in Model.Brands)
                {
                    <div class="col-3">
                        <img src="https://b2bpotential.s3.ap-south-1.amazonaws.com/BrandImages/@item.value" alt="@item.key">
                    </div>
                }
            </div>
            <div class="text-center">
                <a class="btn btn--blue btn--lg"  asp-controller="brand" asp-action="index">See All Brands</a>
            </div>
        </div>
    </div>
</section>

<section class="section section--products pt-0">
    <div class="wrap">
        <div class="section__heading mb-80">
            <h2>Products</h2>
            <p>We feature hundreds of some of your favourite brands</p>
        </div>
        <div class="row mb-40">
            @foreach (var item in Model.Products)
            {
                <div class="col-6">
                    <div class="product__card">

                        <div class="product__img"><img src="https://b2bpotential.s3.ap-south-1.amazonaws.com/BrandImages/@item.value" alt=""></div>
                        <div class="product__text">
                            <h4>@item.key</h4>
                            <a class="btn btn--blue">Know more</a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="cta-btn text-center">
            <a class="btn btn--blue btn--lg" asp-controller="product" asp-action="index">See All Products</a>
        </div>

    </div>
</section>