@{
    ViewData["Title"] = "Product Page";
}

<section class="section business-brands-banner">
    <div class="wrap">
        <div class="banner__content text-center">
            <h2>Browse, search for retailers, dealers & service centres across brands and regions.</h2>
        </div>
    </div>
</section>
<section class="section filter__section pt-0">
    <div class="wrap">
        <div class="row">
            <div class="col-4">
                <div class="search">
                    <input type="text" placeholder="Search for products here E.g.- Logitech">
                    <div class="button-src">
                        <a href="" class="btn btn--blue btn--sm">search</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <div class="select-dropdown">
                            <select id="Region">
                                <option value="Option 1">Region</option>
                                <option value="Option 2">2nd Option</option>
                                <option value="Option 3">Option Number 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="select-dropdown">
                            <select id="Vertical">
                                <option value="Option 1">Verticals</option>
                                <option value="Option 2">2nd Option</option>
                                <option value="Option 3">Option Number 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="select-dropdown">
                            <select id="Brand">
                                <option value="Option 1">Brands</option>
                                <option value="Option 2">2nd Option</option>
                                <option value="Option 3">Option Number 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="select-dropdown">
                            <select id="Category">
                                <option value="Option 1">Products</option>
                                <option value="Option 2">2nd Option</option>
                                <option value="Option 3">Option Number 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section product--busi--brands pt-0">
    <div class="wrap">
        <div class="product--busi-inner">
            <div class="row">
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product One</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Two</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Three</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product four</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product One</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Two</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Three</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product four</h4>
                        </div>
                    </div>
                </div><div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product One</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Two</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Three</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product four</h4>
                        </div>
                    </div>
                </div><div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product One</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Two</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Three</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product four</h4>
                        </div>
                    </div>
                </div><div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product One</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Two</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Three</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product four</h4>
                        </div>
                    </div>
                </div><div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product One</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Two</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Three</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product four</h4>
                        </div>
                    </div>
                </div><div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product One</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Two</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product Three</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product__busi__card">
                        <div class="product__img mb-50"><img src="images/cover.png" alt=""></div>
                        <div class="product__text">
                            <h4>Product four</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn--blue btn--lg" href="javascript:void(0);">Load More Products</a>
            </div>
        </div>
    </div>
</section>