@{
}

<section class="section main-banner">
    <div class="wrap">
        <div class="banner__content">
            <h1>The Yellow Pages<br>of IT Hardware & Supplies.</h1>
            <p>Browse through hundreds of brands and products. Know about dealers, authorized centres etc.</p>
            <a class="btn btn--white" href="javascript:void(0);">Sign Up - Free</a>
        </div>
    </div>
</section>